@import "tailwindcss";

:root {
  --fern: #607744;
  --royal-gold: #f4d35e;
  --lavender: #cfcfea;
  --coffee-bean: #18020c;
  --olive-leaf: #515b3a;

  --background: var(--lavender);
  --ink: var(--coffee-bean);
  --ink-mid: var(--olive-leaf);
  --rule: #a8a8cc;
  --accent: var(--coffee-bean);
}

body {
  background: var(--background);
  color: var(--ink);
}
